$def with ()
<h2>Cerca</h2>
<h3>Ricerca semplice</h3>
<p>
	Puoi cercare una parola chiave:
	<a href="/simple-search-form.html">Ricerca</a>
</p>

<h3>Ricerca avanzata</h3>
<p>
	Puoi cercare una PA secondo criteri avanzati:
	<a href="/advanced-search-form.html">Ricerca avanzata</a>
</p>

<h3>Ricerca per DN</h3>
<p>
	Puoi cercare una PA per DN:
	<a href="/dn-search-form.html">Ricerca DN</a>
</p>

<h3>Ricerca geografica <span class="inprogress">Work in progress...</span></h3>
<p>
	Puoi cercare una PA in base al luogo:
	<a href="">Ricerca geografica</a>
</p>
